# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
ENV/
env/

# Secrets & Local Envs
.env
*.env.local
*.key
*.pem

# Syncthing
.stfolder/
.stversions/

# System / IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
.DS_Store

# Temporary / Scratch scripts
scratch/
temp/
tmp/
*.log
